<article class="card mt-3">
    
        <div class="card-body">
            <p>{{item.origin}}</p>
            <p>{{item.shorturl}}</p>
            <a href="/eliminar/{{item._id}}" class="btn btn-danger">Eliminar</a>
            <a href="/editar/{{item._id}}" class="btn btn-warning">Editar</a>
            <button data-short="{{item.shorturl}}" class="btn btn-info">Copiar</button>
        </div>

    </article>
